.input-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin: 12px 0;
  background: #fff;
}

.input-icon input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}
