/* ===== GLOBAL RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}
.navbar-nav {
  gap: 18px;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
}
* {
  font-family: "Poppins", sans-serif;
}
